<mat-sidenav-container fullscreen>
  <header>
    <div class="titlecontainer">
      <h1>Pokedex</h1>
    </div>
    <!-- <div class="filter-container">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search pokemon..." (input)="applyFilter()">
    </div> -->

  </header>

  <div class="container">
    <app-detalle-pokemon [pokemon]="selectedPokemon"></app-detalle-pokemon>
    <div class="tarjetacontaine">
      <app-tarjetas-pokemon  *ngFor="let pokemon of pokemons" [data]="pokemon" (clickeado)="tarjetaClickeada($event)" ></app-tarjetas-pokemon>
    </div>
  </div>
  <footer></footer>
</mat-sidenav-container>
